# requirements.txt

# Core da Aplicação Web
streamlit

# Processamento de PDF e RAG
pypdf
chromadb

# Carregamento de Configuração
PyYAML

# Provedores de LLM
google-generativeai
openai
anthropic
deepseek

# Vector Stores
faiss-cpu
tiktoken
sentence-transformers # Para embeddings