# requirements.txt

# Core da Aplicação Web
streamlit

# Processamento de PDF e RAG
pypdf
chromadb
sentence-transformers # Dependência do embedding_functions

# Carregamento de Configuração
PyYAML

# Provedores de LLM
google-generativeai
openai
anthropic
deepseek